USE [master]
GO
/****** Object:  Database [MobileShopee]    Script Date: 5/5/2025 3:35:09 AM ******/
CREATE DATABASE [MobileShopee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobileShopee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HUYBLACK\MSSQL\DATA\MobileShopee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobileShopee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HUYBLACK\MSSQL\DATA\MobileShopee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobileShopee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobileShopee]
GO
/****** Object:  Table [dbo].[tbl_Company]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Company](
	[CompId] [varchar](20) NOT NULL,
	[CName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customer](
	[CustId] [varchar](20) NOT NULL,
	[Cust_Name] [varchar](20) NULL,
	[MobileNumber] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[Address] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mobile]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mobile](
	[ModelId] [varchar](20) NULL,
	[IMEINO] [varchar](50) NOT NULL,
	[Status] [varchar](20) NULL,
	[Warranty] [date] NULL,
	[Price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[IMEINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Model]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Model](
	[ModelId] [varchar](20) NOT NULL,
	[CompId] [varchar](20) NULL,
	[ModelNum] [varchar](20) NULL,
	[AvailableQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Sales]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sales](
	[SId] [varchar](20) NOT NULL,
	[IMEINO] [varchar](50) NULL,
	[PurchaseDate] [date] NULL,
	[Price] [money] NULL,
	[CustId] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Transaction]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Transaction](
	[TransId] [varchar](20) NOT NULL,
	[ModelId] [varchar](20) NULL,
	[Quantity] [int] NULL,
	[Date] [date] NULL,
	[Amount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserName] [varchar](20) NOT NULL,
	[PWD] [varchar](20) NULL,
	[EmployeeName] [varchar](20) NULL,
	[Address] [varchar](max) NULL,
	[MobileNumber] [varchar](20) NULL,
	[Hint] [varchar](50) NULL,
	[Role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tbl_Company] ([CompId], [CName]) VALUES (N'1', N'Xiaomi')
INSERT [dbo].[tbl_Company] ([CompId], [CName]) VALUES (N'10', N'Vsmart')
INSERT [dbo].[tbl_Company] ([CompId], [CName]) VALUES (N'11', N'Iphone')
GO
INSERT [dbo].[tbl_Customer] ([CustId], [Cust_Name], [MobileNumber], [Email], [Address]) VALUES (N'1', N'Nguyen Van A', N'0912345678', N'nguyena@gmail.com', N'123 Le Loi, Hanoi')
INSERT [dbo].[tbl_Customer] ([CustId], [Cust_Name], [MobileNumber], [Email], [Address]) VALUES (N'10', N'dgd', N'4354353534', N'hgrdfsgf@gmail.com', N'gds')
INSERT [dbo].[tbl_Customer] ([CustId], [Cust_Name], [MobileNumber], [Email], [Address]) VALUES (N'2', N'Tran Thi B', N'0987654321', N'tranb@gmail.com', N'456 Nguyen Trai, HCM')
GO
INSERT [dbo].[tbl_Mobile] ([ModelId], [IMEINO], [Status], [Warranty], [Price]) VALUES (N'1', N'100001', N'Available', CAST(N'2025-11-30' AS Date), 6000000.0000)
INSERT [dbo].[tbl_Mobile] ([ModelId], [IMEINO], [Status], [Warranty], [Price]) VALUES (N'1', N'100002', N'Available', CAST(N'2025-11-30' AS Date), 6000000.0000)
INSERT [dbo].[tbl_Mobile] ([ModelId], [IMEINO], [Status], [Warranty], [Price]) VALUES (N'1', N'100003', N'Không bán', CAST(N'2025-11-30' AS Date), 6000000.0000)
GO
INSERT [dbo].[tbl_Model] ([ModelId], [CompId], [ModelNum], [AvailableQty]) VALUES (N'1', N'1', N'RedmiNote12', 40)
INSERT [dbo].[tbl_Model] ([ModelId], [CompId], [ModelNum], [AvailableQty]) VALUES (N'10', N'8', N'iPhone14', 20)
INSERT [dbo].[tbl_Model] ([ModelId], [CompId], [ModelNum], [AvailableQty]) VALUES (N'11', N'8', N'iPhone13', 15)
GO
INSERT [dbo].[tbl_Sales] ([SId], [IMEINO], [PurchaseDate], [Price], [CustId]) VALUES (N'1', N'100026', CAST(N'2025-05-01' AS Date), 8000000.0000, N'1')
INSERT [dbo].[tbl_Sales] ([SId], [IMEINO], [PurchaseDate], [Price], [CustId]) VALUES (N'2', N'100007', CAST(N'2025-05-02' AS Date), 9000000.0000, N'2')
INSERT [dbo].[tbl_Sales] ([SId], [IMEINO], [PurchaseDate], [Price], [CustId]) VALUES (N'3', N'100017', CAST(N'2025-05-03' AS Date), 5000000.0000, N'3')
GO
INSERT [dbo].[tbl_Transaction] ([TransId], [ModelId], [Quantity], [Date], [Amount]) VALUES (N'1', N'8', 10, CAST(N'2025-05-02' AS Date), 150000000.0000)
INSERT [dbo].[tbl_Transaction] ([TransId], [ModelId], [Quantity], [Date], [Amount]) VALUES (N'2', N'9', 5, CAST(N'2025-05-02' AS Date), 40000000.0000)
INSERT [dbo].[tbl_Transaction] ([TransId], [ModelId], [Quantity], [Date], [Amount]) VALUES (N'3', N'10', 3, CAST(N'2025-05-03' AS Date), 75000000.0000)
GO
INSERT [dbo].[tbl_User] ([UserName], [PWD], [EmployeeName], [Address], [MobileNumber], [Hint], [Role]) VALUES (N'admin1', N'123456', NULL, NULL, NULL, NULL, N'Admin')
INSERT [dbo].[tbl_User] ([UserName], [PWD], [EmployeeName], [Address], [MobileNumber], [Hint], [Role]) VALUES (N'admin2', N'123456', NULL, NULL, NULL, NULL, N'Admin')
INSERT [dbo].[tbl_User] ([UserName], [PWD], [EmployeeName], [Address], [MobileNumber], [Hint], [Role]) VALUES (N'user1', N'123456', NULL, NULL, NULL, N'dog', N'User')
GO
ALTER TABLE [dbo].[tbl_Mobile]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[tbl_Model] ([ModelId])
GO
ALTER TABLE [dbo].[tbl_Model]  WITH CHECK ADD FOREIGN KEY([CompId])
REFERENCES [dbo].[tbl_Company] ([CompId])
GO
ALTER TABLE [dbo].[tbl_Sales]  WITH CHECK ADD FOREIGN KEY([CustId])
REFERENCES [dbo].[tbl_Customer] ([CustId])
GO
ALTER TABLE [dbo].[tbl_Sales]  WITH CHECK ADD FOREIGN KEY([IMEINO])
REFERENCES [dbo].[tbl_Mobile] ([IMEINO])
GO
ALTER TABLE [dbo].[tbl_Transaction]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[tbl_Model] ([ModelId])
GO
/****** Object:  StoredProcedure [dbo].[sp_GetModelsByCompany]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetModelsByCompany]
    @CompId NVARCHAR(20) -- Giả sử CompId là kiểu NVARCHAR(50), điều chỉnh theo bảng của bạn
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ModelId, CompId, ModelNum, AvailableQty
    FROM tbl_Model
    WHERE CompId = @CompId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextCompId]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetNextCompId]
AS
BEGIN
    DECLARE @lastId INT;
    
    -- Lấy CompId lớn nhất
    SELECT TOP 1 @lastId = CAST(CompId AS INT) 
    FROM tbl_Company 
    ORDER BY CAST(CompId AS INT) DESC;

    -- Nếu bảng rỗng, trả về '1'
    IF @lastId IS NULL
        SELECT '1' AS NextId;
    ELSE
        -- Trả về ID tiếp theo dưới dạng VARCHAR
        SELECT CAST(@lastId + 1 AS VARCHAR) AS NextId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextModelId]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetNextModelId]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @LastNumber INT;
    DECLARE @NewId NVARCHAR(50);

    BEGIN TRY
        -- Lấy ModelId lớn nhất hiện tại (chuyển thành số)
        SELECT @LastNumber = MAX(CAST(ModelId AS INT))
        FROM tbl_Model
        WHERE ISNUMERIC(ModelId) = 1; -- Chỉ lấy các giá trị là số

        -- Nếu bảng rỗng hoặc không có giá trị hợp lệ, trả về 1
        IF @LastNumber IS NULL
        BEGIN
            SET @NewId = '1';
        END
        ELSE
        BEGIN
            -- Tăng số lên 1
            SET @LastNumber = @LastNumber + 1;

            -- Chuyển số mới thành chuỗi
            SET @NewId = CAST(@LastNumber AS NVARCHAR(50));
        END

        -- Trả về ModelId mới
        SELECT @NewId;
    END TRY
    BEGIN CATCH
        -- Xử lý lỗi và ném ngoại lệ
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextTransantionId]    Script Date: 5/5/2025 3:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetNextTransantionId]
AS
BEGIN
    DECLARE @lastId INT;
    
    -- Lấy mã công ty cuối cùng (dưới dạng số)
    SELECT TOP 1 @lastId = CAST(TransId AS INT) 
    FROM tbl_Transaction
    ORDER BY CAST(TransId AS INT) DESC;

    -- Nếu không có công ty nào trong bảng, bắt đầu từ 1
    IF @lastId IS NULL
        SELECT '1' AS NextId;
    ELSE
        -- Tăng ID từ mã công ty cuối cùng
        SELECT CAST(@lastId + 1 AS VARCHAR) AS NextId;
END
GO
USE [master]
GO
